<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/stylesheets/uikit.min.css"/>
    <!-- UIkit JS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- Libraries -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>

    <!-- custom scripts -->
    <script src="/javascripts/articleScripts.js"></script>

</head>
<body>
<div class="main-container">
    <div class="container-1th">
        <div class="img-background">
        </div>
        <div class="content">
            <h1 class="title">Service PC Express</h1>
            <div class="content-body">
                <div class="services-container">
                    <div class="uk-card uk-card-secondary uk-card-body service">
                        <h3 class="uk-card-title">Reparatii PC-uri</h3>
                        <p>Include schimbarea sau repararea de hardware defect. Instalare de windows si devirusare</p>
                        <h3>Preturi:</h3>
                        <ul>
                            <li>Diagnosticare: 20 lei</li>
                            <li>Reparatii software: 50 lei</li>
                            <li>Reparatii hardware: 100 lei + costuri hardware</li>
                        </ul>
                    </div>
                    <div class="uk-card uk-card-secondary uk-card-body service">
                        <h3 class="uk-card-title">Reparatii Laptopuri</h3>
                        <p>Include curatarea, schimbarea pieselor, instalarea de software necesar pentru buna
                            functionare</p>
                        <h3>Preturi:</h3>
                        <ul>
                            <li>Diagnosticare: 50 lei</li>
                            <li>Reparatii software: 50 lei</li>
                            <li>Reparatii hardware: 100 lei + costuri hardware</li>
                        </ul>
                    </div>
                    <div class="uk-card uk-card-secondary uk-card-body service">
                        <h3 class="uk-card-title">Construire PC-uri</h3>
                        <p>Multe PC-uri care se găsesc pe piață costă mult mai puțin decât merită.
                            La o sumă accesibilă, îți vom face cel mai performat PC custom disponibil adaptat la bugetul
                            tau.</p>
                        <h3>Preturi:</h3>
                        <ul>
                            <li>Construcție: 100 lei</li>
                            <li>Custom case and 3D print engrave: 200 lei</li>
                        </ul>
                    </div>
                    <div class="uk-card uk-card-secondary uk-card-body service">
                        <h3 class="uk-card-title">Furnizarea de componente</h3>
                        <p>Cumparam componente de care clientii nu mai au nevoie, ne asiguram ca functioneaza cum
                            trebuie si le oferim la preturi avantajoase celor care au nevoie.</p>
                        <h3>Poti verifica lista de sub prezentare cu componentele disponibile </h3>
                    </div>
                </div>
                <div class="main-introduction">
                    <p>Bine ați venit! Firma noastra ofera servicii calitative de reparatie, mentenanta si adaptarea a
                        laptopurilor si PC-urilor la preturi convenabile. Avand vechime de 3 ani in domeniu, condusi de
                        o pasiune pentru tehnologie si cunostiinte bazate pe cele mai noi informatii in domeniu, vă
                        putem asigura că firma noastră nu o să vă dezamăgească așteptările. </p>
                    <h1>Hardware la mana disponibil</h1>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
